@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  padding: 3rem;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f4f7f7;
  color: #151818;
}

p {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: bold;
}

input {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #404343;
  background-color: #e5ebeb;
  color: #0a0b0b;
  border-radius: 0.25rem;
  width: 20rem;
}

select {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #404343;
  background-color: #e5ebeb;
  color: #0a0b0b;
  border-radius: 0.25rem;
  margin: 0.5rem;
}