body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #ede6f3;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 1rem 0;
  max-width: 30rem;
}
