* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242327;
}

form {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
  background-color: #eee8f8;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  border-radius: 4px;
  background-color: #f9f6fc;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #310485;
  color: white;
  border: 1px solid #310485;
  border-radius: 4px;
}

button:hover {
  background-color: #250364;
}

label.invalid {
  font-weight: bold;
  color: #ce0653;
}

input.invalid {
  background-color: #fcbed6;
  border-color: #ce0653;
}

