@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ccc;
  color: #292828;
  text-align: center;
}

main {
  margin: 2rem;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}