* {
  box-sizing: border-box;
}

body {
  margin: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f0f2;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  max-width: 40rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ccc;
  width: 40rem;
}

ul a {
  text-decoration: none;
  font-size: 1.25rem;
  width: 9rem;
  display: inline-block;
  text-align: center;
  color: #6d6674;
}
