.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 2px solid #ccc;
}

.list a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  border: 1px solid #d3d2d4;
  border-radius: 4px;
  color: #51495e;
}

.list h2 {
  color: #434146;
  font-size: 1rem;
  margin: 0;
}