.form {
  width: 20rem;
  margin: 2rem auto;
  padding: 1rem;
  list-style: none;
}

.form label {
  display: block;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.form input {
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 2px;
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  font: inherit;
}

.form button {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  background-color: #fbe272;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.form button:hover {
  background-color: #f7d94c;
}
