@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  padding: 3rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f2f8f8;
  color: #151818;
}

button {
  background-color: #181818;
  border: 1px solid #181818;
  color: #f2f8f8;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

p {
  max-width: 35rem;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #494e4f;
  color: white;
  border: 1px solid #181818;
}