@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ccc;
  color: #292828;
  text-align: center;
}

#rsc-info {
  max-width: 30rem;
  margin: 3rem auto;
  padding: 2rem;
  border: 2px solid black;
}

#info-page {
  max-width: 40rem;
  margin: 3rem auto;
}

a {
  color: #3f10da;
  text-decoration: none;
}

a:hover {
  color: #6f45f7;
}
