.input {
  font: inherit;
  width: 20rem;
  margin: 3rem auto;
  padding: 1rem;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.posts {
  width: 40rem;
  margin: 3rem auto;
  padding: 0;
  list-style: none;
}

.posts li {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 6px;
  background-color: #e1dede;
}
