.orders {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 25rem;
}

.orders li {
  margin: 1rem 0;
}

.orders li {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.orders h3 {
  margin: 0;
  color: #476586;
}

.button {
  text-decoration: none;
  text-align: center;
  color: #423f44;
  border: 1px solid #6e6a70;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #dedbe0;
}

.item a {
  display: block;
  padding: 1rem;
  background-color: #f3f5f8;
  text-decoration: none;
}

.item a:hover {
  background-color: #e7eef8;
}

.item {
  margin-bottom: 1rem;
}

.item h2 {
  margin: 0;
  color: #434146;
  font-size: 1.15rem;
}

.item p {
  margin: 0;
  color: #434146;
  border-radius: 4px;
}
