@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ccc;
  color: #292828;
  text-align: center;
}

h1 {
  margin: 3rem auto;
}

input {
  font: inherit;
  padding: 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #121110;
  width: 20rem;
}

button {
  font: inherit;
  padding: 0.55rem 1.5rem;
  background-color: #121110;
  border: 1px solid #121110;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}